@import "./styles/reset.scss";
@import './styles/interface.scss';


header h1{
    display: inline-block;
    color: white;
    background-color: pink;
    width: 100%;
    font-size: 50px;
    text-align: center;
}

body {
    background-image: url('../assets/images/background.jpg');
}
