@import "./styles/reset.scss";
@import './styles/interface.scss';
@import './styles/popups.scss';


    
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    background-color: pink;
    padding: 10px;
    width: 100%;
}

header h1 {
    width:100%;
    font-size: 54px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    // -webkit-text-stroke: 1px #d04c73 ; /* width and color */
    text-shadow: -1px 0 #5c2233, 0 1px #5c2233, 1px 0 #5c2233, 0 -1px #5c2233;
    margin-bottom: 20px;
    margin-top:20px;
}

header .links {
    width: 100%;
    height:auto;
    align-self: center;
    justify-content: center;
    text-align: center;
    margin: 10
}

body {
    background-image: url('../assets/images/background.jpg');
    width: 100%;
}
