@import "./styles/reset.scss";
@import './styles/interface.scss';


header h1{
    display: inline-block;
    color: white;
    background-color: pink;
    padding: 30px;
    width: 100%;
    height: auto;
    font-size: 54px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    // -webkit-text-stroke: 1px #d04c73 ; /* width and color */
    text-shadow: -1px 0 #5c2233, 0 1px #5c2233, 1px 0 #5c2233, 0 -1px #5c2233;
}

body {
    background-image: url('../assets/imaghttps://github.com/xLucyLuo/QuickChef/blob/main/assets/images/es/background.jpg');
    width: 100%;
}
